/*============================================================================*/
/*================================== HEADER ==================================*/
.logo {
  position: relative;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: var(--bg-primary);
  overflow-y: hidden;
}

.logo img {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  height: 200px;
}