.service {
  height: 100%;
}

.service-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-name {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--text-second);
}

.service-phonenumber
{
  text-align: center;
  font-size: 20px;
  color: var(--text-third);
}

.service-status {
  margin-top: 20px;
  padding-right: 10px;
  text-align: end;
  font-size: 16px;
  color: #444;
  font-weight: bold;
}
  .status-atrasado { background-color: red; }
  .status-prateleira { background-color:  #ffb300     }
  .status-pronto { background-color: green; }
  .status-entregue { background-color: #aaa; }

.service-tasks {
  height: 400px;
  padding: 10px;
  color: var(--text-second);
}
  .tasks-atrasado { border: 2px solid red; }
  .tasks-prateleira { border: 2px solid #ffb300; }
  .tasks-pronto { border: 2px solid green; }
  .tasks-entregue { border: 2px solid #aaa; }

.service-date {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 20px;
  color: var(--text-second);
}
  .service-date p:first-child{
    font-weight: bold;
    color: var(--text-third);
  }

.service-value {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 20px;
  color: var(--text-second);
}
  .service-value p:first-child{
    font-weight: bold;
    color: var(--text-third);
  }

.service-buttons {
  display: flex;
  justify-content: center;
}

.service-buttons div {
  margin: 30px 10px;
}

.service-buttons .btn-service {
  width: 60px;
  line-height: 60px;
  font-size: 20px;
}

/*============================================================================*/
/*=================================== MODAL ==================================*/
.service-qrcode {
  margin: 30px auto;
  border: 2px solid #ddd;
}

.service-qrcode img {
  width: 100%;
}

.btn-confirm {
  padding: 20px 40px;
  font-size: 26px;
  margin: 0 20px;
}